@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;
}

body {
	font-size: 15px;
}

.grid-container {
	display: grid;
	width: 90%;
	margin: 0 auto;
	grid-template-columns: 1fr;
	grid-template-rows: 96px 192px repeat(3, 80px) repeat(3, 272px);
}

.text--center {
  text-align: center;
}

.text--regular {
	font-weight: 400;
}

.text--bold {
	font-weight: 700;
}

.text--primary {
	color: var(--very-dark-magenta);
}

.text--primary-gray {
	color: var(--dark-grayish-magenta);
}

.flex--vertical-items-self-center {
  display: flex;
  align-self: center;
}

.flex--center-elements {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex--direction-column {
	flex-direction: column;
}

.review__card {
	background-color: var(--light-grayish-magenta);
	height: 72px;
	border-radius: 4px;
}